@import url(http://fonts.googleapis.com/css?family=Roboto);

html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

canvas {
  display: block;
}

div#inner {
  /* Centers the content inside the container*/
  display: table;
  margin: 0 auto;
}

div#controlpanel {
  align: center;
  background-color: transparent;
  opacity: 1;
}

div#controlcontainer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 400px;
  z-index: 1px;
  padding: 25px;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
}

div.description {
  margin: 20px;
  padding: 20px;
  text-align: left;
}


/* Pure Cosmetics */
h1 {
  font-size: 2em;
  font-weight: heavy;
  align: center;
}

h3 {
  text-align: center;
  font-size: 0.9em;
}

.sliderlabel {
  font-weight: heavy;
  font-size: 1.2em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

img.forkme {
  position: absolute; 
  top: 0; 
  left: 0; 
  border: 0;
}

a.byline, a.byline:active {
  padding: 2px;
  color: #000000;
  font-weight: bolder;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 1);
}
a.byline:hover {
  text-decoration: underline;
}

/* Fancy slider controls */
/* stackoverflow.com/questions/16796831/how-to-customize-only-with-css-for-html5-input-range-slider-vertical */
input[type='range'] {
    -webkit-appearance: none !important;
    background: rgba(0,0,0,0.3);
    height:7px;
    width: 200px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:#46758A;
    height:20px;
    width: 50px;
    width:10px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}

/* Fancy Buttons */
.fancybtn {
  background: #46758A;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.fancybtn:hover {
  background: #3498db;
  text-decoration: none;
}

.fancybtn:active {
  position:relative;
  top:1px;
}